#Q5) Perform the classification of Email spam or not using Decision Tree Classifier

In [ ]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix

In [ ]:
df = pd.read_csv('emails.csv')

In [ ]:
df.head(5)

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
df.drop('Email No.', axis=1,inplace=True)

In [ ]:
for i in df.columns:
    if df[i].dtype == np.int64:
        pass
    else:
        print(i)

In [ ]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
dtc = DecisionTreeClassifier()
dtc.fit(X_train,y_train)

DecisionTreeClassifier()

In [ ]:
y_pred = dtc.predict(X_test)

In [ ]:
print(f'accuracy: {accuracy_score(y_test,y_pred)}\tf1_score: {f1_score(y_test,y_pred)}\nconfusion matrix: \n{confusion_matrix(y_test,y_pred)}')

accuracy: 0.9420289855072463	f1_score: 0.8979591836734694
confusion matrix:
[[711  34]
 [ 26 264]]