# Q6) Take a dataset where features do not have a linear relationship. Implement Linear Regression on it. Also, implement Ridge Regression on it and compare the results.

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('train.csv')

In [ ]:
df.head()

,Id,Serial Number,total_net_assets,net_annual_expenses_ratio,morningstar_rating,portfolio_cash,portfolio_stocks,portfolio_bonds,portfolio_others,portfolio_preferred,...,category_102,category_103,category_104,category_105,category_106,category_107,investment_0,investment_1,investment_2,bonds_aaa
0,3768,8372,211000,1.90,3,0.95,99.05,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.00
1,6244,5022,98930000,1.57,2,0.00,0.00,100.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.65
2,2230,3668,440000000,0.53,4,1.71,0.00,98.29,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,93.20
3,7518,8745,56050000,0.93,3,2.64,31.29,57.06,0.80,7.62,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.64
4,8037,17449,173040000,2.26,2,5.24,94.75,0.00,0.01,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00

In [ ]:
df.isna().sum().sum()

0

In [ ]:
df.drop(['Id','Serial Number'],axis=1,inplace=True)

In [ ]:
df.dropna(inplace=True)

In [ ]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [ ]:
kf = KFold(n_splits=5,shuffle=True,random_state=4343)
t=0
for i,j in kf.split(X,y):
    y_train,y_test = y[i],y[j]
    X_test = X[j]
    X_train = X[i]
    lr = LinearRegression()
    lr.fit(X_train,y_train)
    y_pred = lr.predict(X_test)
    t += mean_squared_error(y_test,y_pred)
t = t/5
t

249.90546609792645

In [ ]:
kf = KFold(n_splits=5,shuffle=True,random_state=2)
t=0
for i,j in kf.split(X,y):
    y_train,y_test = y[i],y[j]
    X_test = X[j]
    X_train = X[i]
    rr = Ridge(alpha=1)
    rr.fit(X_train,y_train)
    y_pred2 = rr.predict(X_test)
    t += mean_squared_error(y_test,y_pred2)
t = t/5
t

301.5696577207711