# Q4:a) Use the KNN and Naive Bayes Classifier to classify the Emails into Spam or not Spam. Also, evaluate the accuracy of both the Models

In [ ]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
emails = pd.read_csv('emails.csv')

In [ ]:
emails

,Email No.,the,to,ect,and,for,of,a,you,hou,...,connevey,jay,valued,lay,infrastructure,military,allowing,ff,dry,Prediction
0,Email 1,0,0,1,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Email 2,8,13,24,6,6,2,102,1,27,...,0,0,0,0,0,0,0,1,0,0
2,Email 3,0,0,1,0,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Email 4,0,5,22,0,5,1,51,2,10,...,0,0,0,0,0,0,0,0,0,0
4,Email 5,7,6,17,1,5,2,57,0,9,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167,Email 5168,2,2,2,3,0,0,32,0,0,...,0,0,0,0,0,0,0,0,0,0
5168,Email 5169,35,27,11,2,6,5,151,4,3,...,0,0,0,0,0,0,0,1,0,0
5169,Email 5170,0,0,1,1,0,0,11,0,0,...,0,0,0,0,0,0,0,0,0,1
5170,Email 5171,2,7,1,0,2,1,28,2,0,...,0,0,0,0,0,0,0,1,0,1
5171,Email 5172,22,24,5,1,6,5,148,8,2,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X = emails.iloc[:,2:-1].values
y = emails.iloc[:,-1].values

train test split

In [ ]:
seed = 200
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=seed)

finding the best value for the k in knn

In [ ]:
k=None
ac = 0
for i in range(1,20,1):
    knn = KNeighborsClassifier(i)
    knn.fit(X_train,y_train)
    y_pred = knn.predict(X_test)
    t = accuracy_score(y_test,y_pred)
    if t>ac:
        ac = t
        k = i

using knn for found value

In [ ]:
knn = KNeighborsClassifier(k)
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
print(k)
print(accuracy_score(y_test,y_pred))

2
0.8753623188405797

using Gauusian Naive bayes on same test and train set

In [ ]:
nb = GaussianNB()
nb.fit(X_train,y_train)
y_pred2 = nb.predict(X_test)
accuracy_score(y_test,y_pred2)

0.9584541062801932